@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fjalla+One&family=Inter:wght@300;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}
:root {
  --blue: #1e465d;
  --white: #fefefe;
  --light-green: #7bb7a1;
}
body,
html,
header {
  height: 100%;
}
body,
header,
div,
img,
main,
section,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--light-green);
  font-weight: 200;
}
header {
  position: relative;
  width: 100%;
}
main {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  position: relative;
}
section {
  background-color: var(--white);
}
h1 {
  font-size: 3rem;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.us {
  padding: 20px;
}
.us p {
  margin-top: 20px;
}
.box {
  position: relative;
  width: 100%;
  min-height: 400px;
}
.workation {
  font-family: "Fjalla One", sans-serif;
  text-transform: capitalize;
  color: var(--white);
  font-size: 54px;
}
/* .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  padding-left: 25px;
  color: white;
  background-color: purple;
} */
.overlay {
  /* width: 479px; */
  padding: 0 10px;
  bottom: 50px;
  height: fit-content;
  position: absolute;
}
table {
  width: 100%;
}
tr th {
  padding-right: 10px;
}
td {
  border: 1px dotted black;
  padding-right: 10px;
}
thead tr {
  background-color: aqua;
}

.hero {
  height: 100%;
  position: relative;
  background-image: url("../img/w-hero.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hero h2 {
  color: var(--white);
  margin-top: 32px;
}
.button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  height: auto;
}
.button {
  width: 219.54px;
  height: 78.36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 27.4878px;
  margin-right: 0.5em;
}
.button a {
  text-decoration: none;
}
.button.primary a {
  color: var(--blue);
}
.button.secondary a {
  color: var(--white);
}

.button.primary {
  background-color: var(--white);
  color: var(--blue);
  border: 2.61789px solid var(--blue);
}
.button.secondary {
  background-color: var(--blue);
  color: var(--white);
  border: 2.61789px solid var(--white);
}
.gallery ul {
  display: flex;
  flex-flow: row;
  width: 100%;
  overflow: scroll;
  padding-left: 0;
}

.gallery li {
  list-style-type: none;
  flex-shrink: 0;
}

.gallery img {
  max-height: 300px;
  object-fit: cover;
  vertical-align: bottom;
}

.gallery .box {
  position: relative;
}

.gallery .overlay {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  max-width: 300px;
  margin: 0 auto;
}

.gallery .overlay.two {
  top: unset;
  bottom: 0;
  max-width: none;
  padding-left: 0;
}

.gallery p {
  color: white;
  font-size: 2rem;
  background: #000000ba;
  padding: 5px 20px;
  text-align: center;
}

.gallery p.two {
  font-size: 1.1rem;
  margin: 0;
  border-bottom: 2px;
  border-top: 2px;
  border-left: 1px;
  border-right: 1px;
  border-color: white;
  border-style: solid;
}
h3,
p {
  margin-bottom: 10px;
}
.layout-s100-m50 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bau > .one {
  order: 1;
}
.bau > .two {
  order: 2;
}
.text-box {
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: calc(100%-20px);
  height: auto;
}
.blue {
  background-color: var(--blue);
}
.text-white {
  color: var(--white);
}
.big {
  font-size: 1.5em;
}
#description ul p,
#afternoon {
  font-weight: 800;
  text-decoration: underline;
}
#description li {
  margin-left: 20px;
}
#explain {
  height: 400px;
}
#explain h2 {
  font-size: 32px;
  color: var(--white);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 150px);
  text-align: center;
}
.cta {
  height: 500px;
  position: relative;
  background-image: url("../img/w-book-now.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.cta .overlay {
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  position: absolute;
  font-size: 26px;
}
.cta .button {
  height: 46px;
  border-radius: 20px;
}
.cta .text-box {
  display: flex;
  justify-content: space-around;
}

#yesno {
  position: relative;
}
#yesno .text-box {
  position: absolute;
  left: 50%;
  top: 50%;
  color: var(--white);
  padding: 20px;

  transform: translate(-50%, -50%);
  width: calc(80%-20px);
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.8);
}
#yesno .text-box p {
  color: #424242;
}
#yes {
  height: 500px;
  position: relative;
  background-image: url("../img/w-yes.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#no {
  height: 500px;
  position: relative;
  background-image: url("../img/w-no.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.lead .box {
  height: 600px;
}
.lead .text-box {
  margin-left: 3em;
}
@media (min-width: 737px) {
  .overlay {
    width: 479px;
    right: 100px;
    bottom: 50px;
    height: fit-content;
    position: absolute;
  }
  .layout-s100-m50 {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .box {
    position: relative;
    width: 100%;
    height: 400px;
  }
  .cta .overlay {
    height: 160px;
    width: 359px;
    left: 120px;
    top: 120px;
    border-radius: 0px;
    position: absolute;
    font-size: 26px;
  }
  #yesno {
    position: relative;
  }
  #yesno .text-box {
    background-color: initial;
    position: absolute;
    right: 20px;
    bottom: 10%;
    width: 40%;
    color: var(--white);
    padding: 20px;

    transform: translate(0%, -10%);
    width: calc(100%-20px);
    height: fit-content;
  }
  #yesno .text-box p {
    color: var(--white);
    text-shadow: 0px 0px 3px rgba(130, 8, 8, 1);
  }
  #yes {
    height: 500px;
    position: relative;
    background-image: url("../img/w-yes.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  #no {
    height: 500px;
    position: relative;
    background-image: url("../img/w-no.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .cta .overlay {
    left: 40%;
    top: 25%;
    border-radius: 0px;
    position: absolute;
    font-size: 26px;
  }
}
